*{
    background-color: #03050a;
    color: #ffffff;
}

h2,h3,h4 {
    color: #a679ff;
    font-family: sans-serif;
}

.hobby {
    background-color: #03050a;
    color: #ffffff;
}

body ul li {
    color: aquamarine;
}

body ul li{
    color: aquamarine;
}